@tailwind base;
@tailwind components;

@layer components {
  .center {
    @apply flex justify-center items-center;
  }

  .layout_container {
    @apply max-w-[1586px] mx-auto px-[10px] sm:px-[20px] md:px-[80px];
  }
}

.gridResponsive {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(255px, 340px));
}

.PhoneInputInput {
  outline: none;
  width: 100%;
  height: 100%;
}
@tailwind utilities;

.smoothBar::-webkit-scrollbar {
  width: 5px;
  opacity: 1;
}

.smoothBar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
}

.smoothBar:hover::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
}

.no-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
